.ilttwenty-navigation-tabs-container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.navigation-tab-inactive {
    border-radius: 10px;
    padding: 15px!important;
    background-color: #D9D9D9;
    font-weight: 500;
    margin: 0 0;
}

.navigation-tab-active {
    border-radius: 10px;
    padding: 15px!important;
    background-color: #7030A0;
    color: white;
    font-weight: 500;
}

.navigationtab-ul {
    display: flex;
    list-style: none;
    margin: 0 !important;
    border-bottom: 1px solid beige;
}

.navigationtab-ul li {
    padding: 0 1.5rem;

    padding: 0.4rem 0.5rem;
    cursor: pointer;
}